<%- include('./components/header.ejs', {title: "Alugueis - Inflaveis"}); %>

<section class="aluguel">
	<div class="container">
		<%= alugueis[0] %>
	</div>
</section>

<%- include('./components/footer.ejs'); %>
