<%- include('./components/header.ejs', {title: "Home - Inflaveis"}); %>

<div class="cta">
  <div class="container">
    <div class="conteudo">
      <h2>O melhor lugar para alugar  Brinquedos Infláveis</h2>
      <p>Nossos brinquedos são preenchidos com ar reciclado e biodegradável, importado diretamente do Himalaia.</p>
      <a  class="bt_padrao" href="#produtos">Ver Opções</a>
    </div>
  </div>
</div>

<%- include('./components/secProdutos.ejs'); %>


<%- include('./components/footer.ejs'); %>