<%- include('./components/header.ejs', {title: "Logar-se - Inflaveis"}); %>

<section>
    <%= produto.name %>
    <a id="aluguel" href="/aluguel/<%= produto.id %>" class="bt_secundario">Alugar</a>
</section>

<script defer>
    let usuarioAlugar = localStorage.getItem('user');
    if (!usuarioAlugar)
      document.getElementById('aluguel').style.display = 'none';
</script>

<%- include('./components/footer.ejs'); %>